#canvas_all {
  position: relative;
  width: 476px;
  height: 476px;
  margin: 0 auto;
}

#canvas_back {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#canvas_fore {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#canvas_item {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#canvas_L_s {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

#canvas_L_b {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}

#canvas_L_m {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

#canvas_L_c {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
}

#canvas_L_f {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;
}

#canvas_ctn {
  position: absolute;
  width: 500 !important;
  top: 0;
  left: 0;
  z-index: 8;
}

#canvas_msg {
  position: absolute;
  width: 500 !important;
  top: 0;
  left: 0;
  z-index: 9;
}
