
# Created by https://www.gitignore.io/api/vapor

### Vapor ###
Config/secrets

### Vapor Patch ###
Packages
.build
xcuserdata
*.xcodeproj
DerivedData/
.DS_Store

# End of https://www.gitignore.io/api/vapor

# For SPO
.DS_Store
Resources/Code/spo-proj-*
Resources/Code/code-*
Resources/Code/global-*
Resources/Results/result-*
Public/images/History/*
Public/images/Lappland/*/*
Public/images/Items/*/*
Public/images/Message/*/*
